html {
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headlines {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Sanchez', serif;
    text-align: center;
    position: fixed;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}

.icon {
    display: flex;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 100px;
}

#flip, #panel {
    position: relative;
    text-align: center;
}

#flip {
    margin-top: 430px;
    font-size: 25px;
    font-family: 'Sanchez', serif;
}

#panel {
    display: none;
}

#facebook_icon, #linkedin_icon, #gmail_icon, #github_icon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  margin: 20px;
  padding-top: 20px;
}
