div {
  font-size: 140%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  /*flex-direction: row;*/
  float: left;
}

.main div {
  height: 50px;
}
.Name div {
  height: 60px;
}
.Name {
  color: white;
  width: 150px;
  padding: 0px 0px 0px 120px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-size: 90%;
}
.main {
  display: flex;
  flex-direction: column;
  width: 150px;
}
body {
  background-color: #444444;
  border: 1px solid white;
  width: 25em;
  margin: 10em auto;
  padding: 7em;
  display: flex;
  align-content: space-between;
}

a{
  text-decoration: none;
}
