html {
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headlines {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Sanchez', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#facebook_icon {
    background: url(images/facebook_logo.png);
}

#linkedin_icon {
    background: url(images/linkedin_logo.jpg);
}
