a {
  text-decoration: none;
}

.icon {
    display: flex;
    cursor: pointer;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 100px;
}

#flip, #panel {
    position: relative;
    text-align: center;
}

#flip {
    font-size: 30px;
    font-family: 'Sanchez', serif;
}

#panel {
    display: none;
    z-index: 1;
}

#facebook_icon, #linkedin_icon, #gmail_icon, #github_icon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  margin: 20px;
  padding-top: 20px;
}

.indexContainer p {
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Sanchez', serif;
  margin: 20px;
}

.indexContainer {
  background-image: url(../images/backgrounds/first_page.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro{
  /*background-image: url(../images/backgrounds/second_page.jpg);*/
  background-color: blue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.projectContainer{
  background-color: brown;
  height: 100vh;
  text-align: center;
}

.container{
  background-color: red;
  height: 100vh;
  text-align: center;
}

span.menu_click {
  text-align: center;
  font-family: 'Sanchez', serif;
  font-size: 30px;
  font-weight: bolder;
}

.sidenav {
    font-family: 'Sanchez', serif;
    height: 93%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.closebtn {
    text-decoration: none;
    color: #818181;
}

#navbar a {
  margin: 100px 100px 100px 50px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

#navbar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 36px;
    text-decoration: none;
}

#main {
    transition: margin-left .5s;
    padding: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
