
/*page 1*/

a {
  text-decoration: none;
}

.icon {
  display: flex;
  cursor: pointer;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 100px;
}

#flip, #panel {
  position: relative;
  text-align: center;
}

#flip {
  font-size: 30px;
  font-family: 'Sanchez', serif;
  text-shadow: 2px 2px 4px #000000;
}

#panel {
  display: none;
  z-index: 1;
}

#facebook_icon, #linkedin_icon, #gmail_icon, #github_icon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  margin: 20px;
  padding-top: 20px;
}

.indexContainer {
  background-image: url(../images/backgrounds/first_page.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu_click, #myself {
  display: inline-block;
}

#menu_click {
  font-family: 'Sanchez', serif;
  font-size: 45px;
  font-weight: bolder;
}

#menu_click button {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: black;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

#myself p {
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Sanchez', serif;
  margin: 50px;
  margin-top: 100px;
  text-shadow: 2px 2px 4px #000000;
}

.sidenav {
  font-family: 'Sanchez', serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.closebtn {
  text-decoration: none;
  color: #818181;
}

#navbar a {
  /*margin: 100px 100px 100px 50px;*/
  margin-top: 200px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#navbar a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 36px;
  text-decoration: none;
}

@media screen and (max-height: 800px) {
  .sidenav {
    padding-left: 15px;
  }
  #navbar a {
    font-size: 18px;
  }
}

/*page 2*/

.intro{
  background-image: url(../images/backgrounds/second_page.jpg);
  background-size: cover;
  height: 100%;
}

.user {
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 60%;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.intro h1 {
  font-family: 'Sanchez', serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  text-shadow: 2px 2px 4px #000000;
}

#brand p {
  font-size: 35px;
  font-family: 'Sanchez', serif;
  text-align: center;
  border: 1px;
  width: 800px;
  display: block;
  margin: auto;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10%;
}

#brand a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-family: 'Sanchez', serif;
  text-align: center;
  display: block;
  margin: auto;
  border: 3px solid black;
  width: 200px;
}

#brand a:hover, .offcanvas a:focus{
  color: #f1f1f1;
  text-shadow: 1px 1px 2px #000000;
}

/*page 3*/

.projectContainer{
  background-image: url(../images/backgrounds/thirds_page.jpg);
  background-size: cover;
  height: 100%;
  text-align: center;

}

.project_title h1, img{
  display: inline-block;
  font-family: 'Sanchez', serif;
  color: black;
  text-shadow: 2px 2px 4px #000000;
}

.project_title h3 {
  font-family: 'Sanchez', serif;
  font-size: 28px;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  border-radius: 10%;
  background-color: rgba(0,0,0,0.2);
  width: 1000px;
  margin: auto;
  margin-bottom: 20px;
}

.project_title img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.project_link1 img {
  width: 40%;
  height: 10%;
  border-radius: 10%;
  border: 5px solid black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.project_link2 img {
  width: 60%;
  height: 100%;
  border-radius: 10%;
  border: 5px solid black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.project_link3 img {
  width: 60%;
  height: 100%;
  border-radius: 10%;
  border: 5px solid black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.project_link4 img {
  width: 40%;
  height: 90%;
  border-radius: 10%;
  border: 5px solid black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*page 4*/
/*
.container{
  background-color: red;
  height: 100vh;
  text-align: center;
}*/
